body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(200deg,#ff6a00,dodgerblue, green);
    color: #333;
}
/*nav style*/
nav {
    color: white;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: orangered;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}
/*header style */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(150deg, blue,dodgerblue,royalblue);
    color: white;
    padding: 10px 0 10px 0;
    margin: 0 10px 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*main style*/
main {
    padding: 100px 20px 20px 20px;
}

main section {
    margin-bottom: 20px;
    padding: 15px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/*common style*/
h1, h2 {
    margin: 0;
}
ol > li::marker {
    font-weight: bold;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo{
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Keep equal to width for a perfect circle */
    border-radius: 50%; /* Makes the image round */
    object-fit: cover; /* Ensures the image fills the circle without distortion */
    border: 1px solid #fff; /* Optional border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
    margin-bottom: -8px;
}

.name{
    margin-left: 10px;
    font-size: 32px;
    color: white;
}

/* Footer styles */
footer {
    background: linear-gradient(90deg, grey, #484a48, rgba(121, 113, 113, 0.6));
    color: white;
    text-align: center;
    padding: 10px;
    position: page;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    margin: 0 10px;
}

/*back to top*/

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: white;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

#back-to-top:hover {
    background-color: orangered;
}
.back-to-top-logo {
    font-size: 2rem;
    margin: 5px 0;
}
.back-to-top-logo:hover {
    color: white;
}
